<div>
  <form ng-submit="(expression)" >
    <h3><b>Create a job listing:</b></h3>
    <div class="form-group">
      <label>Job Title:</label>
      <input class="form-control" type="text"
             ng-model="eJobCreate.positionTitle">
    </div>

    <div class="form-group">
      <label>Job Description:</label>
      <textarea class="form-control" type="text" rows="3"
                ng-model="eJobCreate.description">
      </textarea>
    </div>

    <div class="form-group">
      <label>City:</label>
      <input class="form-control" type="text"
             ng-model="eJobCreate.city">
    </div>

    <div class="form-group">
      <label>State:</label>
      <input class="form-control" type="text"
             ng-model="eJobCreate.state">
    </div>

    <div class="form-group">
      <label>Phone:</label>
      <input class="form-control" type="text"
             ng-model="eJobCreate.telephone">
    </div>

    <div class="form-group">
      <label>E-mail:</label>
      <input class="form-control" type="text"
             ng-model="eJobCreate.email">
    </div>

    <div class="form-group" ng-model="eJobCreate.site">
      <label>Where is this job located:</label>
      <div class="radio">
        <label>
          <input type="radio" id="onsite" value="onsite" checked>
          Onsite
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" id="offsite" value="offsite">
          Offsite
        </label>
      </div>
    </div>

    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>
