:root {
	--purple: #401F7C;
	--white: #FFFFFF;
	--darkPurple: #2C2246;
	--blue: #2A40A7;
	--grey: #E9E9E9;
	--cloud: #D1D4E4;

}

.jumbotron {
	background-color: var(--purple);
	color: var(--white);
}

#footer {
	font-size: 12px;
}

#img {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

